html,
body {
  overflow: hidden;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

th,
td {
  border: solid 1px;
  /* padding: 10px; */
  width: 120px;
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

th {
  text-align: center;
  height: auto;
}

td {
  position: relative;
  text-align: left;
  padding-bottom: 60px;
  height: 100px;
}

.monthSelect {
  text-align: right;
}

.date-container {
  position: absolute;
  margin-left: 2px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.selectButton {
  padding-left: 5px;
  padding-right: 5px;
}

.today {
  position: absolute;
  left: -3px;
  right: 0;
  height: 1px;
  top: 0px;
  background-color: #12bd45;
}

.today + div {
  color: #12bd45;
}

.schedule-create {
  opacity: 0;
}

.schedule-create:hover {
  opacity: 50;
  background-color: #8ee0a7f5;
  color: #ffffff;
  padding-left: 5px;
  margin-right: 2px;
  font-size: 9px;
  cursor: pointer;
}

.date-schedule,
.holiday {
  background-color: #12bd45;
  font-size: 9px;
  color: #ffffff;
  margin-right: 2px;
  cursor: pointer;
  padding-left: 5px;
  margin-bottom: 1px;
}

.schedule-container {
  position: absolute;
  left: 0;
  right: 0;
  height: 75px;
  overflow-y: auto;
}

#calendar {
  margin-right: 85vh;
}

::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ff8095;
  border-radius: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #ffe6ea;
  border-radius: 5px;
}
